<h1>Editing Otdelenie</h1>
<%= form_with model: @otdelenie, method: :patch do |form| %>
  <% if @otdelenie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@otdelenie.errors.count, "error") %> prohibited this otdelenie from being saved:</h2>
      <ul>
        <% @otdelenie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :klinika_id %>
    <%= form.collection_select :klinika_id, Klinika.all, :id, :name, { prompt: 'Выберите клинику' } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Show', @otdelenie %> |1
<%= link_to 'Back', otdelenies_path %>