<h1>Otdelenies</h1>
<%= link_to 'New Otdelenie', new_otdeleny_path %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Klinika</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @otdelenies.each do |otdelenie| %>
    <tr>
      <td><%= otdelenie.name %></td>
      <td><%= otdelenie.klinika ? otdelenie.klinika.name : 'N/A' %></td>
      <td><%= link_to 'Show', otdelenie %></td>
      <td><%= link_to 'Edit', edit_otdeleny_path(otdelenie) %></td>
      <td><%= link_to 'Destroy', otdelenie, method: :delete, data: { turbo_method: "delete" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

