<h1>Klinikas</h1>
<%= link_to 'New Klinika', new_klinika_path %>
<br>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Adress</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @klinikas.each do |klinika| %>
    <tr>
      <td><%= klinika.name %></td>
      <td><%= klinika.adress %></td>
      <td><%= link_to 'Show', klinika %></td>
      <td><%= link_to 'Edit', edit_klinika_path(klinika) %></td>
      <td><%= link_to 'Destroy', klinika, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>



