<h1>New Klinika</h1>
<%= form_with model: @klinika, url: klinikas_path do |form| %>
  <% if @klinika.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klinika.errors.count, "error") %> prohibited this klinika from being saved:</h2>
      <ul>
        <% @klinika.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>