<p style="color: green"><%= notice %></p>

<%= render @klinika %>

<div>
  <%= link_to "Edit this klinika", edit_klinika_path(@klinika) %> |
  <%= link_to "Back to klinikas", klinikas_path %>

  <%= button_to "Destroy this klinika", @klinika, method: :delete %>
</div>
