<h1>New Vrach</h1>
<%= form_for @vrach do |form| %>
  <% if @vrach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vrach.errors.count, "error") %> prohibited this vrach from being saved:</h2>
      <ul>
        <% @vrach.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :otdelenie_id %>
    <%= form.collection_select :otdelenie_id, Otdelenie.all, :id, :name, { prompt: 'Выберите Otdeleny' } %>
  </div>

  <div class="field">
    <%= form.label :special_id %>
    <%= form.collection_select :special_id, Special.all, :id, :name, { prompt: 'Выберите Special' } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
<%= link_to 'Back', vraches_path %>